*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */

header{
    background-image: url(../IMG/fundo-topo.jpg);
    text-align: center;
    padding: 10px 0;
}

header h1{
    margin: 0;
    height: 84px;
}

/* Menu */

nav{
    text-align: center;
    padding: 15px 0;
}
nav li{
    display: inline;
    background-image: url(../IMG/patinha-preta.png);
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 27px;
    margin-right: 10px;
}

nav a{
    color: #000;
    text-decoration: none;
}

nav a:hover{
    color: #6dd432;
    text-decoration: none;
}

/* IDS */

#itemContato{
    background-image: none;
    padding-right: 0;
    margin-right: 0;
}
#produto .flexContainer{
    margin-top: 43px;
}

#produtos .flexContainer, #contato .flexContainer{
    margin-top: 42px;
}
/* Grupos de elementos estilizados (.class) */

.fundoVerde{
    background-color: #bdff9c;
}

.container{
    width: 900px;
    margin: 0 auto;
    padding: 56px 0;
}

.flexContainer .col{
    width: 430px;
}

.flexContainer{
    display: flex;
    justify-content: space-between;
}

.textoCentralizado{
    text-align: center;
}

.produto{
    width: 235px;
}

.produto figure{
    border: 1px solid silver;
    background-color: #fff;
    margin: 0 0 15px 0;
    padding: 0;
    text-align: center;
    height: 160px;
    line-height: 160px;
}

.produto figure img{
    vertical-align: middle;
}

.btnPata{
    border: 1px solid #91e467;
    background-color: #d2fbbd;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
    cursor: pointer;

}

form input,
form textarea{
    width: 100%;
    border: 1px solid #6dd432;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

iframe{
    width: 100%;
}

footer{
    height: 360px;
}